
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Witaj #dajsiepoznac</h2>

<div>
    Session is new: @Session.IsNewSession
    <p>Is user authenticated: @User.Identity.IsAuthenticated</p>
    @foreach (var claim in ((System.Security.Claims.ClaimsPrincipal) User).Claims)
    {
        <div>
            <span>@claim.Type</span> :
            <span>@claim.Value</span>
        </div>
    }

    @Html.ActionLink("Blah", "Blah")
</div>

