@model IsThereAnyNews.ViewModels.AccountDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            Registered accounts:
            @foreach (var social in Model.SocialLogins)
            {
                <div>@social.AuthenticationTypeProvider.ToString()</div>
            }
        </div>
        <div class="col-sm-8">
            <div class="row">
                <div>
                    All actions will be shown under this display name:
                </div>
                <div>
                    @Model.DisplayName <span>@Html.ActionLink("change", MVC.Home.ChangeDisplayName())</span>
                </div>
            </div>
            <div class="row">
                <div>
                    We will contact you via
                </div>
                <div>
                    @Model.Email <span>@Html.ActionLink("change", MVC.Home.ChangeEmail())</span>
                </div>
            </div>
        </div>
    </div>
</div>
