@model IsThereAnyNews.ViewModels.UserDetailedPublicProfileViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col s12">
        <div class="row">
            <div class="col s4">
                <h2><i class="fa fa-user"></i>@Model.DisplayName</h2>
            </div>
            <div class="col s4">
                @using (Html.BeginForm("Subscribe", "Users", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.ViewingUserId)
                    <input type="submit"
                           role="button"
                           class="btn"
                           value="subscribe"/>
                }
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <h4><i class="fa fa-rss"></i>Subscriptions: @Model.ChannelsCount</h4>
                <div class="row">
                    @foreach (var channel in Model.Channels)
                    {
                        <div class="col s12">
                            <i class="fa fa-rss-square"></i>@channel.Name
                        </div>
                    }
                </div>
            </div>
            <div class="col s6">
                <h4><div class="row">Activities (@Model.EventsCount)</div></h4>
                <div class="row">
                    @foreach (var rssEvent in Model.Events)
                    {
                        <div class="col s4">@rssEvent.Viewed</div>
                        <div class="col s8">@rssEvent.Title</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>