@model IsThereAnyNews.ViewModels.RssEntryToReadViewModel

<div class="collapsible-header"
     data-collapsible="expandable"
     data-url-mark-as-read="@Url.Action("MarkReadWithEvent", "Stream",
                           new { StreamType = ViewData["StreamType"],
                                 DisplayedItems = Model.Id,
                                 Id = ViewData["SubscriptionId"]})
     href="@Model.Url">
        @Model.RssEntryViewModel.Title
    <span>
        @Model.RssEntryViewModel.PublicationDate
    </span>
</div>
<div id="preview_@Model.Id"
     class="collapsible-body"
     data-url-full-entry="@Model.RssEntryViewModel.Url"
     data-url-mark-as-clicked="@Url.Action("MarkClicked", "Stream", new { id = Model.Id })">
    @Html.Raw(Model.RssEntryViewModel.PreviewText)
</div>

