@using IsThereAnyNews.SharedData
@model IsThereAnyNews.ViewModels.RssSubscriptionIndexViewModel

<div class="row">
    @Html.ActionLink("Show read entries", "Read", "Stream", new { streamType = Model.StreamType, id = Model.SubscriptionId, showReadEntries = ShowReadEntries.Show }, null)
</div>
<div class="row col s12">
    <span>
        <h2>@Model.ChannelInformation.Title</h2>
        <h4>@Model.ChannelInformation.Created</h4>
    </span>
</div>
<div class="row nocss-rss-item-list">
    <div class="col s12">
        <ul class="collapsible" data-collapsible="expandable">
            @foreach (var entry in Model.RssEntryToReadViewModels)
            {
                <li>
                    @Html.Partial("_Entry", entry, new ViewDataDictionary { new KeyValuePair<string, object>("StreamType", Model.StreamType), new KeyValuePair<string, object>("SubscriptionId", Model.SubscriptionId) })
                </li>
            }
        </ul>
    </div>
</div>
<div class="row col s12">
    @using (Html.BeginForm("MarkRead", "Stream", FormMethod.Post, new { @class = "nocss-mark-channel-read" }))
    {
        <input type="hidden" name="StreamType" value="@Model.StreamType" />
        <input type="hidden" name="Id" value="@Model.SubscriptionId" />
        <input type="hidden" name="DisplayedItems" value="@Model.DisplayedRss" />
        <input type="submit" role="button" class="btn btn-default" value="mark all as read" />
    }
</div>
