@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html ng-app="itan">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/angular-1.5.8/angular.js"></script>
    <link href="~/Content/IsThereAnyNews.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/icon.gif" type="image/x-icon" />
    <script>
        var m = angular.module("itan", []);
    </script>

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ITAN</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="@Url.Action("Index", "Home")"><span class="fa fa-home"></span></a></li>
                <li><a href="@Url.Action("Index", "RssChannel")"><span class="fa fa-globe"></span></a></li>
                <li><a href="@Url.Action("Index", "Users")"><span class="fa fa-users"></span></a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="@Url.Action("My", "RssChannel")"><span class="fa fa-rss"></span></a></li>
                }
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                <form class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-danger"><span class="fa fa-sign-out"></span></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <span>
                            <img src="https://graph.facebook.com/10205806873714010/picture" />
                        </span>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Account")">Account</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Login")" class="btn btn-primary"><span class="fa fa-sign-in"></span></a></li>
                </ul>
            }
        </div>
    </nav>
    <div class="clearfix navbarfix"></div>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>

</html>
