@model IsThereAnyNews.ViewModels.RssSubscriptionIndexViewModel

<div>
    @foreach (var entry in Model.RssEntryToReadViewModels)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="row text-default">
                    <h4>
                        @entry.RssEntryViewModel.Title
                        <small role="button"
                           data-toggle="collapse"
                           data-mark-viewed-url="@Url.Action("MarkRssEntryViewed", new {id = @entry.Id})"
                           href="#rss-@entry.Id"
                           class="small nocss-view-rss-entry">
                            show more
                        </small>
                    </h4>
                </div>
                <div class="row collapse" id="rss-@entry.Id">
                    <div class="row col-lg-12">
                        <div>@Html.Raw(entry.RssEntryViewModel.PreviewText)</div>
                    </div>
                    <div class="row col-lg-12">
                        @Html.Partial("_RssActions", entry)
                    </div>
                </div>

            </div>
        </div>
    }
    <button role="button"
            class="btn-xs btn-warning nocss-mark-all-read"
            data-mark-all-read-url="@Url.Action("MarkAllReadForSubscription")"
            data-rss-to-mark-read-id="@Model.DisplayedRss"
            data-subscription-id="@Model.SubscriptionId">
        mark all read
    </button>

    <button role="button"
            class="btn-xs btn-error nocss-unsubscribe"
            data-unsubscribe-url="@Url.Action("Unsubscribe", new {id = Model.SubscriptionId})">
        unsubscribe
    </button>
</div>