@model IsThereAnyNews.ViewModels.RssSubscriptionIndexViewModel

<div>
    @foreach (var entry in Model.RssEntryToReadViewModels)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="row text-success">
                    <span>@entry.RssEntryViewModel.Title</span>
                    <span role="button"
                          data-toggle="collapse"
                          data-mark-viewed-url="@Url.Action("MarkRssEntryViewed", new {id = @entry.Id})"
                          href="#rss-@entry.Id"
                          class="glyphicon glyphicon-plus-sign nocss-view-rss-entry">
                    </span>
                </div>
                <div class="row collapse" id="rss-@entry.Id">
                    <div class="row col-lg-12">
                        <div>@Html.Raw(entry.RssEntryViewModel.PreviewText)</div>
                    </div>
                    <div class="row col-lg-12">
                        <span role="button"
                              class="btn-xs btn-error nocss-mark-interesting"
                              data-unsubscribe-url="@Url.Action("Unsubscribe", new {id = Model.SubscriptionId})">
                            <i class="fa fa-thumbs-up"></i>
                        </span>
                        <span role="button"
                              class="btn-xs btn-error nocss-mark-not-interesting"
                              data-unsubscribe-url="@Url.Action("Unsubscribe", new {id = Model.SubscriptionId})">
                            <i class="fa fa-thumbs-down"></i>
                        </span>
                        <span role="button"
                              class="btn-xs btn-error nocss-mark-unread"
                              data-unsubscribe-url="@Url.Action("Unsubscribe", new {id = Model.SubscriptionId})">
                            <i class="fa fa-undo"></i>
                        </span>
                        <span role="button"
                              class="btn-xs btn-error nocss-share"
                              data-unsubscribe-url="@Url.Action("Unsubscribe", new {id = Model.SubscriptionId})">
                            <i class="fa fa-share-alt"></i>
                        </span>
                        <span role="button"
                              class="btn-xs btn-error nocss-add-comment"
                              data-unsubscribe-url="@Url.Action("Unsubscribe", new {id = Model.SubscriptionId})">
                            <i class="fa fa-commenting-o"></i>
                        </span>
                        <span role="button"
                              class="btn-xs btn-error nocss-open-full-article"
                              data-unsubscribe-url="@Url.Action("Unsubscribe", new {id = Model.SubscriptionId})">
                            <i class="fa fa-external-link"></i>
                        </span>
                        <span role="button"
                              class="btn-xs btn-error nocss-mark-read-later"
                              data-unsubscribe-url="@Url.Action("Unsubscribe", new { id = Model.SubscriptionId })">
                            <i class="fa fa-clock-o"></i>
                        </span>
                    </div>
                </div>
                
            </div>
        </div>
    }
    <button role="button"
            class="btn-xs btn-warning nocss-mark-all-read"
            data-mark-all-read-url="@Url.Action("MarkAllReadForSubscription")"
            data-rss-to-mark-read-id="@Model.DisplayedRss"
            data-subscription-id="@Model.SubscriptionId">
        mark all read
    </button>

    <button role="button"
            class="btn-xs btn-error nocss-unsubscribe"
            data-unsubscribe-url="@Url.Action("Unsubscribe", new {id = Model.SubscriptionId})">
        unsubscribe
    </button>
</div>