@using IsThereAnyNews.SharedData
@model IsThereAnyNews.ViewModels.RssChannelsMyViewModel

@foreach (var channel in Model.ChannelsSubscriptions)
{
    <a href="@Url.Action("Read", "Stream", new {streamType = StreamType.Rss, id = channel.Id})"
       data-url-read-rss="@Url.Action("ReadAjax", "Stream", new {streamType = StreamType.Rss ,id = channel.Id})"
       class="btn btn-flat text-nowrap text-ellipse-too-long nocss-rsschannel">
        <i class="fa fa-rss"></i>
        @channel.Title (@channel.RssToRead)
    </a>
}

@foreach (var channel in Model.Users)
{
    <a href="@Url.Action("Read", "Stream", new {streamType = StreamType.Person ,id = channel.Id})"
       data-url-read-rss="@Url.Action("ReadAjax", "Stream", new {streamType = StreamType.Person ,id = channel.Id})"
       class="btn btn-default btn-xs btn-block text-nowrap text-ellipse-too-long nocss-rsschannel">
        <i class="fa fa-user"></i>
        @channel.Name (@channel.Count)
    </a>
}
