@using IsThereAnyNews.SharedData
@model IsThereAnyNews.ViewModels.RssChannelsMyViewModel

<ul>
    @foreach (var channel in Model.ChannelsSubscriptions)
    {
        <li data-url-read-rss="@Url.Action("ReadAjax", "Stream", new {streamType = StreamType.Rss ,id = channel.Id})"
             class="nocss-rsschannel">
            <i class="fa fa-rss"></i>
            @channel.Title (@channel.RssToRead)
        </li>
    }

    @foreach (var channel in Model.Users)
    {
        <li href="@Url.Action("Read", "Stream", new {streamType = StreamType.Person ,id = channel.Id})"
           data-url-read-rss="@Url.Action("ReadAjax", "Stream", new {streamType = StreamType.Person ,id = channel.Id})"
           class="nocss-rsschannel">
            <i class="fa fa-user"></i>
            @channel.Name (@channel.Count)
        </li>
    }
</ul>