@model IsThereAnyNews.ViewModels.RssEntryToReadViewModel

<span role="button"
      class="btn-xs btn-error nocss-rssitem-action-button"
      data-unsubscribe-url="@Url.Action("Voteup","RssItemAction", new {id = Model.RssEntryViewModel.Id})">
    <i class="fa fa-thumbs-up"></i>
</span>
<span role="button"
      class="btn-xs btn-error nocss-rssitem-action-button"
      data-unsubscribe-url="@Url.Action("VoteDown","RssItemAction", new {id = Model.RssEntryViewModel.Id})">
    <i class="fa fa-thumbs-down"></i>
</span>
<span role="button"
      class="btn-xs btn-error nocss-rssitem-action-button"
      data-unsubscribe-url="@Url.Action("MarkNotRead","RssItemAction", new {id = Model.Id})">
    <i class="fa fa-undo"></i>
</span>
<span role="button"
      class="btn-xs btn-error nocss-rssitem-action-button"
      data-unsubscribe-url="@Url.Action("Share","RssItemAction", new {id = Model.RssEntryViewModel.Id})">
    <i class="fa fa-share-alt"></i>
</span>
<span role="button"
      class="btn-xs btn-error nocss-rssitem-action-button"
      data-unsubscribe-url="@Url.Action("AddComment","RssItemAction", new {id = Model.RssEntryViewModel.Id})">
    <i class="fa fa-commenting-o"></i>
</span>
<span role="button"
      class="btn-xs btn-error nocss-rssitem-action-button"
      data-unsubscribe-url="@Url.Action("OpenFull","RssItemAction", new {id = Model.RssEntryViewModel.Id})">
    <i class="fa fa-external-link"></i>
</span>
<span role="button"
      class="btn-xs btn-error nocss-rssitem-action-button"
      data-unsubscribe-url="@Url.Action("AddToReadLater","RssItemAction", new {id = Model.Id})">
    <i class="fa fa-clock-o"></i>
</span>