@model IsThereAnyNews.ViewModels.RssSubscriptionIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-3">
        @Html.Action("MyChannelList")
    </div>
    <div class="col-lg-9">
        <div class="row col-lg-12">
            <span>
                <h2>@Model.ChannelInformation.Title</h2>
                <h3>@Model.ChannelInformation.Created</h3>
            </span>
        </div>
        <div class="row col-lg-12">
            @foreach (var entry in Model.RssEntryToReadViewModels)
            {
                <div class="row">
                    <div class="row col-lg-12">
                        <h4>
                            @entry.RssEntryViewModel.Title
                            <span class="small pull-right">@entry.RssEntryViewModel.PublicationDate</span>
                        </h4>
                        @Html.Raw(entry.RssEntryViewModel.PreviewText)
                    </div>
                    <div class="row col-lg-12">
                        @Html.Partial("_RssActions", entry)
                    </div>
                </div>
                <hr/>
            }
        </div>
    </div>
</div>
