@model IsThereAnyNews.ViewModels.RssChannelsIndexViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>
<div class="container">
    @foreach (var channel in Model.AllChannels)
    {
        <div>
            <button class="btn btn-default btn-xs btn-block text-nowrap text-ellipse-too-long nocss-rsschannel">
                <div>@Html.ActionLink(channel.Title, "Public", "RssChannel", new {id = channel.Id}, null)</div>
                <div>
                    <span>Created: @channel.Created</span>
                    <span>Last update: @channel.Updated</span>
                    <span>Subscribers: @channel.SubscriptionsCount</span>
                    <span>Rss entries: @channel.RssEntriesCount</span>
                </div>
            </button>
        </div>
    }
</div>