@model IsThereAnyNews.ViewModels.RssChannelIndexViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-4">
        @Html.Action("PublicChannels")
    </div>
    <div class="col-lg-8">
        <div class="row">
            <h2>title</h2>
            <p>@Model.Name</p>
            <p>@Model.Added</p>
        </div>
        <div class="row">
            @if (Model.IsAuthenticatedUser)
            {
                if (Model.SubscriptionInfo.IsSubscribed)
                {
                    using (Html.BeginForm("Unsubscribe", "RssChannel", FormMethod.Post))
                    {
                        <input type="hidden" name="subscriptionId" value="@Model.SubscriptionInfo.ChannelSubscriptionId" />
                        <input type="hidden" name="channelId" value="@Model.ChannelId" />
                        <input type="submit" class="btn-xs btn-warning nocss-unsubscribe" value="unsubscribe" />
                    }
                }
                else
                {
                    using (Html.BeginForm("Subscribe", "RssChannel", FormMethod.Post))
                    {
                        <input type="hidden" name="id" value="@Model.ChannelId" />
                        <input type="submit" class="btn-xs btn-primary" value="subscribe" />
                    }
                }
            }
        </div>

        <div class="row">
            <div class="col-lg-12">
                @foreach (var entry in Model.Entries)
                {
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row text-success">
                                <span>@entry.Title</span>
                                <span>@entry.PublicationDate</span>
                                <span role="button"
                                      data-toggle="collapse"
                                      href="#rss-@entry.Id"
                                      class="glyphicon glyphicon-plus-sign nocss-view-rss-entry">
                                </span>
                            </div>
                            <div class="row collapse" id="rss-@entry.Id">
                                <div>@Html.Raw(entry.PreviewText)</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
